/*Da el tamaño y ubicación a nuestro contenido*/ 
.zerogrid {
        width:950px;
        margin: auto;
}
/* Filas */
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

/*Columnas */
.col-1-3 {
    width: 33.33%;
}
.col-2-3 {
    width: 66.66%;
}

.col-2-5 {
    width: 40%;
}

.col-3-5 {
    width: 60%;
}
.col-1-2 {
    width: 50%;
}

/*Mejora el tamaño de la imagen de fondo para la sección Travis Johnson de HOME */
.content-box.box-3.box-style-1 {
    background-size: 52% auto;
}
/*Agrega Padding a las columnas*/
.wrap-col {
    padding: 0px 10px;
}

/* Agrega un padding al formulario de la página CONTACTS*/
.contact-form {
    padding: 10px;
}